//
// _to-do.scss
//

.to-do-menu {
    li {
        .nav-link {
            color: var(--#{$prefix}body-color);
            padding-left: 0;
            background-color: var(--#{$prefix}light);
            padding: 10px 12px;
            border-radius: 4px;
            display: block;
            margin-bottom: 8px;

            &:hover,
            &.active {
                color: $success;
            }
        }
    }
}

.todo-content, .calendar-content {
    overflow-y: auto;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 8px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(var(--#{$prefix}body-color-rgb), .075);
        border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 8px;
    }
}

.todo-content {
    height: calc(100vh - 362px);
}

.calendar-content{
    height: calc(100vh - 186px);
}

.todo-task {
    table {
        .form-check {
            .form-check-input {
                &:checked+.form-check-label {
                    text-decoration: line-through;
                }
            }
        }
    }
}

.task-handle {
    cursor: move;
}

#task-error-msg {
    display: none;
}

// //////////////////////////////////////////////////////

.bg-todo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('@assets/images/CRM/free-abstract-light-blue-background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
    }
}

.file-manager-sidebar {
    // position: relative;
    // background-color: rgb(255 255 255 / 57%);
    // backdrop-filter: blur(5px);

    .to-do-menu {
        li {
            cursor: pointer;

            &:hover {
                background-color: rgba(var(--#{$prefix}primary-rgb), .10);
            }

            .badge {
                color: $primary
            }

            a {
                color: $dark;
            }

            &.active {
                a {
                    color: $primary;
                }

                background-color: rgba(var(--#{$prefix}primary-rgb), .10);

                .badge {
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }

    .title-box {
        border: 1px dashed rgb(255 255 255 / 64%);
        padding: 10px 20px;
    }
}

.card-todo {
    background-color: var(--#{$prefix}card-bg);;
    // backdrop-filter: blur(5px);

    .form-check-input {
        cursor: pointer;
    }

    .todo-title {
        cursor: pointer;
    }
}

.todo-offcanvas {
    width: 500px !important;
}

.ring-button {
    display: inline-flex;
    color: $dark;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: rgba(var(--#{$prefix}success-rgb), .075);
    }
}
